/* CSS Document */
.gambar1{
	background:url(../images/silho.jpg) top no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 100%; height:100%;
	margin:-8px 0px -20px -8px;
	}
.gambar1 header{
	background:url(../images/logo.png) top no-repeat fixed;
}
.gambar1 header img{
	display:block;
	margin:0px auto 0px auto;
	padding:300px 0 121px 0;
	}
.gambar2{
	background:url(../images/bg2.jpg) bottom no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 101%; height:100%;
	margin:-8px 0 0 -8px;
	}
.gambar2 header{
	margin:0px auto 100px auto;
	padding-top:100px;
	width:980px;
}
.gambar2 header article{
	background:#303030;
	width: 380px;
	}
.gambar2 header span{
	color:#FFF;
	font-family:forte;
	font-size:50px;
	padding: 20px;
	}
.gambar2 article p{
	color:#FFF;
	font-family:georgia;
	font-size:14px;
	padding:20px;
	}
.gambar2 ol{
	color:#fff;
}
.gambar2 nav{
	position:relative;
	float:right;
	margin-top:-320px;
}
.gambar2 nav audio{
	width:450px;
}
.gambar3{
	background:url(../images/bg3.jpg) bottom no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 101%; height:100%;
	margin:-8px 0 0 -8px;
	}
.gambar3 header{
	margin:0px auto 100px auto;
	padding-top:100px;
	width:1000px;
}
.gambar3 header article{
	background:#303030;
	width: 2000px;
	}
.gambar3 header article h1{
	color:#FFF;
	font-family:forte;
	font-size:40px;
	padding: 20px;
	}
.gambar3 nav{
	position:relative;
	float:right;
	margin-top:-500px;
}
.gambar4{
	background:url(../images/bg4.jpg) bottom no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 101%; height:100%;
	margin:-8px 0 0 -8px;
	}
.gambar4 img{
	display:block;
	margin:0px auto 0px auto;
	padding:280px;
}