@charset "utf-8";
/* CSS Document */

td {
	color: black;
	}
	
input[type = "text"] {
	color: green;
	}
	
input[type = "submit"] {
	color: green;
	}

#wrapper {
        margin-left:auto;
        margin-right:auto;
        width:900px; /* ubah 900px jadi ukuran lebar website ente */
}

#background_hitam {
	background-color:black;
	
}

#garis_bawah {
	border-bottom:dotted;
	border-bottom-color:#999;
}

a { text-decoration:none; }

a:hover { color:#3F0; }

#bawah { border-bottom:dotted; }

#border_abu { border:#CCC; border-style:groove;}

.highlightme { background-color:#F0F; }