body {
  text-align: center;
  font-family: sans-serif, "Times New Roman", calibri;
  color: black;
  	background: -moz-linear-gradient(top, #577fff 0%, #0743ff 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#86c8f4), to(#2aa0ea)) no-repeat;
  	-pie-background: linear-gradient(#edf6fc, #b1d7ef);
  	background: -ms-linear-gradient(#edf6fc, #b1d7ef);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf6fc', endColorstr='#b1d7ef');
	zoom: 1;
}

.kotak {
  text-align: left;
  margin-bottom: 20px;
}

.header {
	border:0px dotted;
  	-webkit-border-radius:0 0 10px 10px;
  	background: -moz-linear-gradient(top, #577fff 0%, #0743ff 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#0743ff), to(#3784b4)) no-repeat;
  	background: -ms-linear-gradient(#0743ff, #3784b4);
 	-pie-background: linear-gradient(#b2d9f1, #77abcc); 
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0743ff', endColorstr='#3784b4');	
	  	height: 150px;
  	margin:auto;
  	padding:0px 15px 15px 15px;
  	-webkit-box-shadow: 0px 1px 7px 1px #919191;
	-moz-box-shadow: 0px 1px 7px 1px #6666CC;
	border-radius: 20px 50px;
}

.head_1 {

	
}

.head_1 img {
float: left;
display: block;
padding:5px;
margin:0px;
}

.head_2{

	zoom: 1;	
  	float: right;
	padding-top:80px;

}
.head_2 a{
	padding: 10px 10px 8px 10px;
	font-size: 30px;
	font-weight: bold;	
	float: right;
	}
	
.head_2 a:active,.head_2 a:visited,.head_2 a:link{
	color:#b2ff00;
	text-decoration: none;
}

.head_2 a:hover{
	color: #7ac22d;
	background: -moz-linear-gradient(top, #577fff 0%, #0743ff 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#0743ff), to(#577fff)) no-repeat;
  	-pie-background: linear-gradient(#0743ff, #577fff);
  	background: -ms-linear-gradient(#0743ff, #577fff);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0743ff', endColorstr='#577fff');
	zoom: 1;
  	-webkit-border-radius:0px 0px 10px 10px;
}

.gap {
	margin-bottom:30px;	
}

.box {
  	background: -moz-linear-gradient(top, #f4f4f4 0%, #f9f9f9 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f9f9f9)) no-repeat;
  	-pie-background: linear-gradient(#f4f4f4, #f9f9f9);
  	background: -ms-linear-gradient(#f4f4f4, #f9f9f9);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#f9f9f9');
	zoom: 1;
  	margin: 0px 0 0 0px;
  	padding:10px;
  	-webkit-box-shadow: 0px 1px 7px 1px #919191;
	-moz-box-shadow: 0px 1px 7px 1px #6666CC;
  	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	width: 5px;
	height: auto;
	border:5px dotted;
}

.box_left {
background-color:rgb(42,159,170);
border-radius:10px;
margin:auto;
}

.box_left h1 {
	font-size:2.2em;
	padding-left:5px;
}

.box_left h2 {
	font-size:1em; 
	font-style:italic;
	line-height: 0px;
	font-weight:bold;
	padding-left:5px;
}

.headline{	
	margin-top: 0px;
}
.headline img{
	width: 100px;
	height: 100px;
	float: left;
	padding-right: 10px;
	padding-top:3px;
}
.headline p{
	padding-left: 0px;
	margin-bottom: 15px;
	text-align: justify;
	font-weight: normal;
	font-size: 12px;
}

.headline a:hover{
	color: #000;
}

.read{
	margin:-10px 0px 0px 0px;
	text-align: right;
  	padding:5px 10px 5px 5px;
  	border-bottom: solid 2px;
}
.read a{
	text-decoration: none;
	color:#546060;
	font-weight: bolder;
}
.read a:hover{
	text-decoration: underline;
}

.readEvent {
	margin:-10px 0px 0px 0px;
	text-align: right;
  	padding:5px;
  	border-bottom: solid 2px;
  	color: #546060;
}
.readEvent a{
	text-decoration: none;
	color: #546060;
	font-weight: bolder;
}
.readEvent a:hover{
	text-decoration: none;
	color: #546060;
}

.subMenu{
	margin:20px 0 0 0; 
	background: -moz-linear-gradient(top, #6dc80a 0%, #41710c 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#84ecff), to(#3eddf9)) no-repeat;
  	-pie-background: linear-gradient(#84ecff, #3eddf9);
  	background: -ms-linear-gradient(#84ecff, #3eddf9);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84ecff', endColorstr='#3eddf9');
	zoom: 1;
  	padding: 5px;
  	color: #fff;
  	-webkit-border-radius:5px;
}

.listTitle a{
	color:#000;
	text-decoration: none;
}
.listTitle a:hover{
	color:#577fff;
}
.listTitle h5{
	font-size: 2em;
	font-family: calibri;
	margin-top: 20px;
}
.listTitle h6{
	font-size: 1em;
	font-family: arial narrow;
	color: #ccc;
	margin-top: -20px;
	font-size: 1em;
	font-style: italic;	
	text-align: left;
}
.listArticle{
	margin-top: -10px;
	text-align:justify;
}

.event img{
	width: 120px;
	height: 100px;
	float: left;
	padding-right: 10px;
	margin: 10px 0 0 0;
}

.event p{
	position: relative;
	padding-left: 130px;
	margin-bottom: 15px;
	text-align: left;
}
.event h5{
	padding-top: 10px;
	text-align:left;
}
.event h6{
	margin: -20px 0 5px 0;
	font-size: 12px;
	font-style: italic;;
	color: #919191;
	text-align: left;
}
.event h1{
	margin-bottom: 10px;
	text-align:justify;
	font-size:12px;
	font-weight:lighter;
}
.event a{
	color:#000;
	text-decoration: none;
}
header{
    display:block;
}
section{
    display: block;
}
nav{
    display: block;
}

.event a:hover{
	color: #577fff;
}

.footerLink{
	float: right;
	padding: 5px;
  	text-align: right;
}
.footerLink a{
	padding: 10px 10px 8px 10px;
	font-size: 18px;	
}
.footerLink a:active,.footerLink a:visited,.footerLink a:link{
	color:#770000;
	text-decoration: none;
}
.footerLink a:hover{
	color: #233f05;
  	-webkit-border-radius:10px 10px 0px 0px;
}

.none{
	border-bottom: none;
}

.end{
	margin-top: 5px;
	border-top: solid 2px;
}

.footer_1 {
	text-align:left;
	text-shadow:rgb(127,255,0);
	font-size:13px;
	padding-top:20px;
}

.footer_2 {
	text-align:right;
	font-size:13px;
	padding-top:20px;	
}

.footer_2 a {
	text-decoration:none;
}

.footer_2 a:hover {
	color:white;
}