body {
	 font-family: sans-serif; color:#332828; font-size: 12px;
	 background: -o-linear-gradient(#008cff, #abf2f4);
	 background: -moz-linear-gradient(top, #008cff 0%, #abf2f4 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#008cff), to(#abf2f4)) no-repeat;
    background: -ms-linear-gradient(#008cff, #abf2f4);
    -pie-background: linear-gradient(#008cff, #abf2f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0');
    zoom: 1;
    margin-left: auto;
    margin-right: auto;
}

.header {
	float:left;
}

.header_1 {
	float:left;
}

.header_1 h1, h2{
	font-size: 14px;
}

.header_1 h1 span {
	font-size:12px;
}

.header_2 {
	margin-right: -200px;
	margin-left: 80px;
	float: right;
	width:250px;
	padding-top: 5px;
	margin:auto;
}

.header_2 article {
	background-color: cyan;
   float: right;
	width:230px;
	margin-right: 31px;
	height:130px;
	position:absolute;
	margin-left: 50px;
}

.border_right {
	border-right-color: cyan;
	border:none;
	border-right:1px dotted;
	padding-right: 3px;
	margin-left: 50px;
	
}
.header_2 article nav {
	margin-top: -5px;
}
.header_2 article nav a {
	color:black;
	font-weight: bolder;
	font-size: 16px;
	text-align: center;
	border-radius:10px;
	background-color: blue;
	margin-left: 11px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right:8px;
	position: absolute;
}

.header_2 article nav a:hover {
	color:white;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	border-radius:10px;
	background-color: black;
	margin-left: 11px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right:8px;
	height:20px;
}
.header_2 h4 {
	color:white;
	font-size:22px;
	padding-left: 5px;
	padding-top: 5px;
	font: 20px;
}

.header_2 h5 {
	color:white;
	font-size: 12px;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: -20px;
	margin-bottom:5px;
}
.header_2 a {
	color:cyan;
	font-size: 12px;
}

.header_2 a:link {
	text-decoration: none;
}
.header_2 a:hover {
	text-decoration: none;
}

.header_3 {
background-color: yellowgreen;
text-align: left;
padding-left: 10px;
}

}
.survey {
	float:left;
} 

.header_4 {
text-align: center;
height:30px;
}

.header_4 nav span{
     border-right: 1px dashed #fff;
}

.header_4 a {
	font-size: 14px;
	font-family: cursive;
	text-decoration: none;
	color: black;
}

.header_4 a:hover {
	color: white;
}

.background2{
	 background: -o-linear-gradient(#008cff, #abf2f4);
	 background: -moz-linear-gradient(top, #008cff 0%, #abf2f4 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#008cff), to(#abf2f4)) no-repeat;
    background: -ms-linear-gradient(#008cff, #abf2f4);
    -pie-background: linear-gradient(#008cff, #abf2f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0');
    background: -moz-linear-gradient(top, #fff 0%, #e0e0e0 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0)) no-repeat;
    background: -ms-linear-gradient(#fff, #e0e0e0);
    background: -o-linear-gradient(#fff, #e0e0e0);
    -pie-background: linear-gradient(#fff, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0');
    zoom: 1;
}


.headForm{
    margin-bottom: 20px;
}
.headForm input{
  margin-left: 10px;
}

.submit{
    background: -moz-linear-gradient(top, #0f8bb9 0%, #013c52 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#0f8bb9), to(#013c52)) no-repeat;
    background: -ms-linear-gradient(#0f8bb9, #013c52);
    -pie-background: linear-gradient(#0f8bb9, #013c52);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f8bb9', endColorstr='#013c52');
    zoom: 1;
    border: none;
    padding: 4px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.sandi a{
    width: 70px;
    float: left;
    margin-top: 5px;
    color: #0f8bb9;
    font-size: 12px;
}
.sandi a:hover{
    text-decoration: none;
    color: #013c52;
}

.signUp{
    margin-right: 0px;
    float: right;
}
.signUp article{
    margin: 5px 0 0 0;
    color: #fff;
    background: -moz-linear-gradient(top, #00a2ff 0%, #0f8bb9 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a2ff), to(#0f8bb9)) no-repeat;
    background: -ms-linear-gradient(#00a2ff, #0f8bb9);
    -pie-background: linear-gradient(#00a2ff, #0f8bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a2ff', endColorstr='#0f8bb9');
    zoom: 1;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.signUp article h3{
    font-size: 18px;
    text-align: center;
    margin: -14px 0 0px 0;
    background: -moz-linear-gradient(top, #ff9600 0%, #c57707 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9600), to(#c57707)) no-repeat;
    background: -ms-linear-gradient(#ff9600, #c57707);
    -pie-background: linear-gradient(#ff9600, #c57707);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9600', endColorstr='#c57707');
    zoom: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.signUp article h3 a{
    font-size: 18px;
    color: #013c52;
    border-right: none;
}
.signUp article h3 a:hover{
    color: #fff;
}
.signUp article h6{
    font-weight: normal;
    font-size: 12px;
    margin-top: -20px;
}
.signUp a{
    border-right: 1px #0f8bb9 solid;
    padding-right:1px;
    font-size: 12px;
    text-decoration: none;
    color: #0f8bb9;
}
.signUp a:hover{
    color: #013c52;
}

.notice{
    padding:5px;
    background: #ff9600;
    color: #1f1301;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin:0;
}

.menuLink{
    background: -moz-linear-gradient(top, #00a2ff 0%, #0f8bb9 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a2ff), to(#0f8bb9)) no-repeat; 
    background: -ms-linear-gradient(#00a2ff, #0f8bb9);
    -pie-background: linear-gradient(#00a2ff, #0f8bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a2ff', endColorstr='#0f8bb9');
    zoom: 1;
    padding: 10px;
    margin: 0px; 
    text-align: center;
}
.menuLink a{
    padding: 0 20px 0 20px;
    color: #674003;
    text-decoration: none;
    font-size: 15px;
}
.menuLink a:hover{
    color: #fff;
}
.menuLink span{
     border-right: 1px dashed #fff;
}

.content h2 {
	font-size: 30px;
	font-family: serif;
}

.content{
    margin-top: 10px;
}

.content ul {
	width: 600px;
	margin-top: -15px;
}

.content ul li{
    font-size: 14px;
    padding-bottom: 20px;
    text-align: left;
    margin-top: -10px;
}
.content nav{
    margin-top: -15px;
}

.fb{
    left:0px;
    width:140px;
    height: 35px;
    float: right;
    margin-bottom: 50px;
    margin-top: 15px;
    margin-right: 10px;
}
.fb{
    background:url('../images/_social.jpg') 0 0 no-repeat;
}

.tweet{
    left:63px;
    width:140px;
    height: 35px;
    float: right;
    margin-bottom: 50px;
    margin-top: 15px;
    margin-right: 10px;
}
.tweet{
    background:url('../images/_social.jpg') -140px 0 no-repeat;
}

.rightContent{
    margin-top: 10px;
    margin-right: -10px;
}
.box {
	width:100px;
}
.rightContent h3{
	 background: -o-linear-gradient(#f3e3da, #1c0a01);
    background: -moz-linear-gradient(top, #f3e3da 0%, #1c0a01 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3e3da), to(#1c0a01)) no-repeat;
    background: -ms-linear-gradient(#f3e3da, #1c0a01);
    -pie-background: linear-gradient(#f3e3da, #1c0a01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e3da', endColorstr='#1c0a01');
    zoom: 1;
    font-weight: normal;
    color: #fff;
    padding: 10px;
    -webkit-border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
}
.rightContent{
    margin:10px 10px 0 0px;
}
.rightContent span{
    margin: 10px;
}
.rightContent span{
    left:63px;
    width:34px;
    height: 34px;
    float: left;
    background:url('../images/_toa.png') 0 0 no-repeat;
}
.rightContent ul{
    list-style: none;
    padding:5px 15px 5px 15px;
    margin: -20px 0 0 0px;
    font-size: 12px;
    border: 2px #1c0a01 solid;
}
.rightContent ul li{
    padding:10px;
    margin:0px 0 0 -10px;
    border-bottom: 1px #1c0a01 dashed;
}
.rightContent ul li span{
    right:63px;
    width:34px;
    height: 34px;
    float: right;
    background:url('../images/_toa.png') -33px 0 no-repeat;
    margin: -10px -42px 0px 0px;
}
.rightContent a{
    padding-left:0px;
    text-decoration: underline;
    color: #00a2ff;
    margin-left: 1px;
}
.rightContent a:hover{
    text-decoration: none;
}
.rightContent nav{
	background: -o-linear-gradient(#1c0a01, #000);
    background: -moz-linear-gradient(top, #1c0a01 0%, #000 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c0a01), to(#000)) no-repeat;
    background: -ms-linear-gradient(#1c0a01, #000);
    -pie-background: linear-gradient(#1c0a01, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c0a01', endColorstr='#000000');
    zoom: 1;
    -webkit-border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    padding: 10px 10px 0px 10px;
    height: 40px;
}
.rightContent nav h6{
    color: #00a2ff;
    font-weight: normal;
    text-align: center;
    padding:5px 10px 5px 10px;
    background: #fff;
    width: 90px;
    margin:-3px auto 0px auto;
}
.rightContent nav h6 a{
    text-decoration: none;
    margin-left: -20px;
}
.rightContent nav h6 a:hover{
    text-decoration: underline;
}

.footerContent{
    border:2px solid #0f8bb9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-right: 5px;
}
.footerContent h2{
    margin: 0px;
    padding: 10px;
    float: left;
    font-size: 20px;
    color:#00a2ff;
}
.footerContent h6{
    margin: 50px 10px 0 10px;
    font-weight: normal;
    padding: 10px 0px 10px 0px;
    border-top:2px solid #0f8bb9;
}

.setting{
    left:63px;
    width:49px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
}
.setting{
    background:url('../images/_seting.png') -26px 0px no-repeat;
    margin-top:-45px;
}

.about{
    left:63px;
    width:27px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
}
.about{
    background:url('../images/_seting.png') 0px 0px no-repeat;
}

.united{
    left:63px;
    width:47px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
}
.united{
    background:url('../images/_seting.png') -76px 0px no-repeat;
}

footer{
    margin:10px 0px 0px 0px;
    background: #232323;
    padding:5px;
    height: 15px;
}
footer h6{
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    padding: 0 10px 0 10px;
    float: left;
    margin-bottom: -10px;
    border-right: solid 1px #fff;
}
.endFooter{
    padding-top: 10px;
    margin:auto;
}

input[type="text"] {
  width:150px; 
  font:normal 12px Verdana,Sans-Serif;
  border:1px solid #dcdcdc;
  background-color:#fafafa;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  padding:2px;
}

input[type="password"] {
	
  width:150px;
  font:normal 12px Verdana,Sans-Serif;
  border:1px solid #dcdcdc;
  background-color:#fafafa;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  padding:2px;
}

.button {
	
  width:47px;
  font:normal 12px Verdana,Sans-Serif;
  border:1px solid #dcdcdc;
  background-color:#fafafa;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  padding:2px;
}

.borderRight_ {
	font-size: 16px;
}