/* CSS Designed by Kido */

* {
	margin: 0;
	padding: 0;
}

a { text-decoration:none; }
a:hover { text-decoration:underline; color: red; }

body {
	margin: 0;
	font: normal small Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}

.gradient {
	background: -moz-linear-gradient(top, #fffadd 100%, #a8edca 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#a8edca)) no-repeat;
}

/***********************************/
/***********************************/
/***********************************/
/***********************************/
/***********************************/

/* Header */

#header {
	width: 740px;
	height: 80px;
	margin: 0 auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;
	border-radius:20px;
	border-color:red;
	border-collapse:collapse;
	
}

.shadow {
  text-shadow: 0px -1px 1px #C60, 2px -1px 3px #FF0;
  padding: 10px 0px 0px 0px;
} 


/* Navigation */
.all{
	border:none;
	float: left;
	}

.all h6{
	font-size: 1.2em;
	
	margin-right: 0px;
	margin-top: -3px;
	margin-left: 5px;
	width: 44px;
	height:50px;
	padding:2px;
	display: block;
	float: left;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
	color:#fff;
	font-family: Lucida Sans Unicode;
	text-align:center;	
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:10px 0px 0px 10px;
}
.all h5{
	font-size: 1.0em;
	width: 40px;
	height: 36px;
	display: block;
	float: left;
	padding:6px;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
}
.all h4{
	font-size: 1.5em;
	width:310px;
	height: 33px;
	color:#fff;
	padding-top: 15px;
	font-family: Lucida Sans Unicode;
	text-align:center;
	float:left;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 70% 70%, 300, 30% 30%, 10, from(#333300), to(#663300));
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
}
.all h3{
	font-size: 1.0em;
	width: 40px;
	padding-top: 15px;
	height: 30px;
	margin: -5px 0px 0px 0px auto;
	display: block;
	float: left;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
}
.all h2{
	font-size: 2.0em;
	width: 40px;
	height: 36px;
	margin-left:0px;	
	display: block;
	float: left;
	padding:6px;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
	
}
#navigation {
	width: 740px;
	height: 50px;
	margin: 0 auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;
	
	}
	
.menuLink{
	text-align: center;
	background: -moz-linear-gradient(top, #59ff00 0%, #b0ff5b 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#59ff00), to(#b0ff5b)) no-repeat;
	height:30px;
	margin:5px 0px 0px 0px;
	padding-top:10px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}

.menuLink b{
	font-weight:normal;
}

.menuLink a{
	color:#9e6363;
	padding:12px 20px 15px 20px;
	font-size:14px;
}

.menuLink a:active,.menuLink a:visited,.menuLink a:link{
	color:#6f8cba;
	text-decoration:none;
}

.menuLink a:hover{
	background: -moz-linear-gradient(top, #eeff00 0%, #4F0002 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#4F0002), to(#eeff00)) no-repeat;
	color:#00CC00;
}

.dropdown{
	overflow:hidden;
	position:absolute;
	color:#fff;
	width:150px;
	height:0px;
	-webkit-transition-property: overflow,height;
  	-webkit-transition-duration: 0.5s;
  	-webkit-transition-timing-function: ease-in;
	margin:17px 0 0px 300px;
	font-weight:normal;
}

.dropdown ul{
	padding:0;
}

.dropdown li{
	list-style:none;
	margin-left:0px;
}

.dropdown li a{
	display:block;
	padding:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.dropdown li a:hover{
	list-style:none;
}

.dropdownLink:hover .dropdown{
	display:block;
	position:absolute;
	background: -moz-linear-gradient(top, #d9ff05 0%, #ff4300 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#d9ff05), to(#ff4300)) no-repeat;
	-webkit-box-shadow: 2px 2px 7px 2px #fff;
	-moz-box-shadow: 2px 2px 7px 2px #fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	height:127px;
}

/***********************************/
/***********************************/
/***********************************/
/***********************************/
/***********************************/

/* Content 1 */

#content1 {
	width: 740px;
	height: 0 px auto;
	margin: 0 auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;

}
/***********************************/
/***********************************/
/***********************************/
/***********************************/
/***********************************/

#article {
	width: 480px;
	height: 0 px;
	margin: 0px 0px 30px 0px;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: left;
		-webkit-box-shadow: 0 0 20px #f10c0c;
-moz-box-shadow: 0 0 20px #f10c0c;
box-shadow: 0 0 20px #f10c0c;
background-color: cyan;
border-radius:10px;
}

#article1 {
	width: 470px;
	height: 0px;
	margin: 0px 2px 2px 2px auto;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: left;
	
}

#title1 {
	font-size: 1.0em;
	width: 40px;
	height: 35px;
	margin: -5px 0px 0px 0px auto;
	border: 0px dashed;
	display: block;
	float: left;
	padding:4px;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
}

#title2 {
	font-size: 1.0em;
	width: 40px;
	height: 35px;
	margin: -5px 0px 0px 0px auto;
	border: 0px dashed;
	display: block;
	float: left;
	padding:4px;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
}

#title3 {
	font-size: 1.0em;
	width: 40px;
	height: 35px;
	margin: -5px 0px 0px 0px auto;
	border: 0px dashed;
	display: block;
	float: left;
	padding:4px;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
}
#title4 {
	font-size: 1.0em;
	width: 40px;
	height: 35px;
	margin: -5px 0px 0px 0px auto;
	border: 0px dashed;
	display: block;
	float: left;
	padding:4px;
	color:#fff;
	font-family: Lucida Sans Unicode;
	background: -moz-radial-gradient(50% 50%, farthest-side, #092200, #0B510D);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#092200), to(#0B510D));
	-webkit-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	text-align:center;
}

#content {
	width: 470px;
	height: 0 px auto;
	margin: 0 auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;
	float:left;
}
#footer1 {
	width: 300px;
	height: 0 px auto;
	margin: 0 auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;
	float:left;
}
#footer2 {
	text-align: center;
	width: 120px;
	height: 0 px auto;
	margin: 0 auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;
	float:right;
	background: -moz-linear-gradient(top, #990000 0%, #4F0002 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#4F0002)) no-repeat;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-transition-property: width;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease-out;	
}

#footer2 a:link,.read a:active,.read a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

#footer2 span{
	background: #eee;
	padding:12px;
	margin:10px 10px 0px -10px;
	-webkit-border-radius:0px 10px 10px 0px;
	-moz-border-radius:10px;
}

#footer2 a:hover{
	color:#666666;
}
#footer2:hover{
	width:140px;
	}

#content #footer2 {
		-webkit-transition-property: margin-left;
  	-webkit-transition-duration: 1s;
  	-webkit-transition-timing-function: linear;
}

#article2 {
	width: 470px;
	height: 0 px;
	margin: 5px 2px 2px 2px auto;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: left;
}

#article3 {
	width: 470px;
	height: 0 px;
	margin: 5px 2px 2px 2px auto;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: left;
}

#aside {
	width: 230px;
	height: 0 px;
	margin: 5px 2px 2px 2px auto;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: right;
		-webkit-box-shadow: 0 0 20px #f10c0c;
-moz-box-shadow: 0 0 20px #f10c0c;
box-shadow: 0 0 20px #f10c0c;
background-color: cyan;
border-radius:10px;
}

#aside h5 {
	background-color: green;
	border-radius: 10px;
	color: white;
	font-size:12px;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}

.rightArticle {
	float:left;
	margin:0px 0 0 20px;
	background:#CC6600;
	padding:5px;
	width:50px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#FFFFFF;
	font-weight:bold;
}

.rightArticle2 {
	float:left;
	margin:0px 0 0 20px;
	background:#0099FF;
	padding:5px;
	width:50px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#FFFFFF;
	font-weight:bold;	
}
/* Content 2 */
#content2 {
	width: 740px;
	height: 350px;
	margin:  auto;
	padding: 5px 5px 5px 0px;
	border: 0px dashed;
	display: block;
}
#article4 {
	width: 220px;
	height: 0 px;
	margin: 5px 2px 2px 2px auto;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: left;
	-webkit-box-shadow: 0 0 20px #f10c0c;
-moz-box-shadow: 0 0 20px #f10c0c;
box-shadow: 0 0 20px #f10c0c;
background-color: cyan;
border-radius:10px;
}

#article5 {
	width: 220px;
	height: 0 px;
	margin: 0px 2px 2px 27px;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: left;
	-webkit-box-shadow: 0 0 20px #f10c0c;
-moz-box-shadow: 0 0 20px #f10c0c;
box-shadow: 0 0 20px #f10c0c;
background-color: cyan;
border-radius:10px;
}

#article6 {
	width: 220px;
	height: 0 px;
	margin: 5px 2px 2px 2px auto;
	padding: 5px 5px 5px 2px;
	border: 0px dashed;
	display: block;
	float: right;
		-webkit-box-shadow: 0 0 20px #f10c0c;
-moz-box-shadow: 0 0 20px #f10c0c;
box-shadow: 0 0 20px #f10c0c;
background-color: cyan;
border-radius:10px;

}
/***********************************/
/***********************************/
/***********************************/
/***********************************/
/***********************************/

#clear_both {
	clear: both;
	width: 740px;
	height: 1px;
	margin: 0 auto;
}

.zoom header{
	position:relative;
	margin:20px;
	background: -moz-linear-gradient(top, #003300 0%, #009900 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#003300)) no-repeat;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.zoom{
	-webkit-transform: scale(1);
	-webkit-transition-property: -webkit-transform;
  	-webkit-transition-duration: 0.5s;
  	-webkit-transition-timing-function: linear;
}

.zoom p{
	text-align:center;
	padding:5px;
	font-size:17px;
	color:#fff;
}

.moon{
	position:static;
	padding:0px;
	width:70px;
	height:70px;
	margin:-50px 0 0 -20px;
	background:cyan;
	-webkit-border-radius:90px;
	-moz-border-radius:10px;
}

.leftMoon{
	position:static;
	padding:0px;
	width:70px;
	height:70px;
	margin:-60px 0 0 40px;
	background:#003300;
	-webkit-border-radius:90px;
	-moz-border-radius:10px;
}

.zoom:hover{
 	 -webkit-transform: scale(1.1)
}

/* Footer */
#footer {
	clear: both;
	width: 740px;
	height: 30px;
	margin: auto ;
	padding: 5px 5px 5px 0px;
	display: block;
	text-align: center;
	color: blue;
}



.hover2 a{
	padding-left:2px;
	-webkit-transition-property: padding-left;
  	-webkit-transition-duration: 1s;
  	-webkit-transition-timing-function: ease;
}
.hover2 a:hover {
	padding-left: 10px;
}
/* Penutup */